<div class="left-menu">
  <ul>
    <li routerLink="/dashboard">Dashboard</li>
    <li>
      Leads
      <ul>
        <li routerLink="/leads/add">Add Leads</li>
        <li routerLink="/leads/view">View Leads</li>
      </ul>
    </li>
    <li>
      Users
      <ul>
        <li routerLink="/users/add">Add Users</li>
        <li routerLink="/users/view">View Users</li>
      </ul>
    </li>
    <li>
      Opportunity
      <ul>
        <li routerLink="/opportunity/add">Add Opportunity</li>
        <li routerLink="/opportunity/view">View Opportunity</li>
      </ul>
    </li>
  </ul>
</div>
